In [1]:
import pandas as pd

In [ ]:
# panel_real = pd.read_csv("C:/Users/amore/Desktop/vegan/data/panel_real.csv", index_col=0)
# panel_real

,STND_YMD,PRD_CD,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post
0,2019-03-21,110651228,222849.0,270000.0,2021-05-06,2023-05-05,1,0
1,2019-03-22,110651228,166500.0,270000.0,2021-05-06,2023-05-05,1,0
2,2019-03-23,110651228,201150.0,135000.0,2021-05-06,2023-05-05,1,0
3,2019-03-24,110651228,124920.0,270000.0,2021-05-06,2023-05-05,1,0
4,2019-03-25,110651228,1671390.0,2565000.0,2021-05-06,2023-05-05,1,0
...,...,...,...,...,...,...,...,...
13037,2022-07-12,110030096,24000.0,48000.0,2022-06-24,2023-06-23,1,1
13038,2022-07-13,110030096,12000.0,24000.0,2022-06-24,2023-06-23,1,1
13039,2022-07-15,110030096,31634.0,48000.0,2022-06-24,2023-06-23,1,1
13040,2022-07-16,110030096,19200.0,24000.0,2022-06-24,2023-06-23,1,1
13041,2022-07-19,110030096,16800.0,24000.0,2022-06-24,2023-06-23,1,1

In [2]:
panel_real_incsno = pd.read_csv("C:/Users/amore/Desktop/vegan/data/panel_real_incsno.csv", index_col=0)
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post
0,2019-03-21,110651228,38fd2bd1100eba0a46924666119ca6b15d6f03034f6e93...,222849.0,270000.0,2021-05-06,2023-05-05,1,0
1,2019-03-22,110651228,78e92678987c843e51919a4dd9fdf4590e77ac7420b702...,166500.0,270000.0,2021-05-06,2023-05-05,1,0
2,2019-03-23,110651228,dbaa7ff77ea30639fd07091e8f14e1e9150a0424ab3151...,201150.0,135000.0,2021-05-06,2023-05-05,1,0
3,2019-03-24,110651228,f3d2d0842ad79415d780fe1f9e5b869f72225f1822fd4f...,124920.0,270000.0,2021-05-06,2023-05-05,1,0
4,2019-03-25,110651228,0aa18dcf76208307d1d38eec349c8c21b1243485226a4e...,1671390.0,2565000.0,2021-05-06,2023-05-05,1,0
...,...,...,...,...,...,...,...,...,...
13037,2022-07-12,110030096,3b9fc177881567bbe49e26354a3d0b556bd6386d66d5e8...,24000.0,48000.0,2022-06-24,2023-06-23,1,1
13038,2022-07-13,110030096,4da0a9b1b8557474361d77a4e80768ba78cfe537b829be...,12000.0,24000.0,2022-06-24,2023-06-23,1,1
13039,2022-07-15,110030096,49a7adf7b649d99e28cb8d2df42ccf3fef6445834e281a...,31634.0,48000.0,2022-06-24,2023-06-23,1,1
13040,2022-07-16,110030096,a07eadc2c2a9b8582449eb00aec1a19962a14d12413bb0...,19200.0,24000.0,2022-06-24,2023-06-23,1,1
13041,2022-07-19,110030096,9441ad1a5f018bb12d26ba836ae56685d7e8832bde5d7e...,16800.0,24000.0,2022-06-24,2023-06-23,1,1

1. 비어있는 날짜 선형보간법으로 채우기

In [3]:
panel_real_incsno["STND_YMD"] = pd.to_datetime(panel_real_incsno["STND_YMD"])

In [4]:
panel_real_incsno = panel_real_incsno.drop_duplicates(subset=["PRD_CD", "STND_YMD"], keep=False)

In [5]:
# PRD_CD별로 누락된 날짜 채우기
def fill_missing_dates(group):
    date_range = pd.date_range(start=group["STND_YMD"].min(), end=group["STND_YMD"].max())
    group = group.set_index("STND_YMD").reindex(date_range).reset_index()
    group = group.rename(columns={"index": "STND_YMD"})
    group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
    return group

In [6]:
panel_real_incsno['STND_YMD'] = pd.to_datetime(panel_real_incsno['STND_YMD']) # 날짜 형식으로 변환
panel_real_incsno = panel_real_incsno.groupby("PRD_CD").apply(fill_missing_dates).reset_index(drop=True)

C:\Users\amore\AppData\Local\Temp\ipykernel_16740\2465843034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  panel_real_incsno['STND_YMD'] = pd.to_datetime(panel_real_incsno['STND_YMD']) # 날짜 형식으로 변환
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')
C:\Users\amore\AppData\Local\Temp\ipykernel_16740\3637601758.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['PRD_CD'] = group['PRD_CD'].fillna(method='ffill').fillna(method='bfill')

In [7]:
panel_real_incsno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14431 entries, 0 to 14430
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STND_YMD         14431 non-null  datetime64[ns]
 1   PRD_CD           14431 non-null  float64
 2   INCS_NO          8258 non-null   object
 3   NET_PRD_SAL_AMT  8258 non-null   float64
 4   SAL_UTPR         8258 non-null   float64
 5   vgn_bgn_dttm     8258 non-null   object
 6   vgn_end_dttm     8258 non-null   object
 7   group            8258 non-null   float64
 8   post             8258 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 1014.8+ KB

In [8]:
print(type(panel_real_incsno.groupby("PRD_CD")['NET_PRD_SAL_AMT']))

<class 'pandas.core.groupby.generic.SeriesGroupBy'>

In [9]:
print(panel_real_incsno['NET_PRD_SAL_AMT'].isna().sum())

6173

In [10]:
duplicates = panel_real_incsno[panel_real_incsno.duplicated(subset=["STND_YMD", "PRD_CD"], keep=False)]

In [11]:
# 선형보간 다시 수행
panel_real_incsno['NET_PRD_SAL_AMT'] =(
    panel_real_incsno.groupby('PRD_CD')['NET_PRD_SAL_AMT']
    .apply(lambda x: x.interpolate(method='linear'))
    .reset_index(drop=True)
)

panel_real_incsno['SAL_UTPR'] =(
    panel_real_incsno.groupby('PRD_CD')['SAL_UTPR']
    .apply(lambda x: x.interpolate(method='linear'))
    .reset_index(drop=True)
)

In [12]:
# 나머지 값 채우기
for col in ['vgn_bgn_dttm',	'vgn_end_dttm',	'group', 'post']:
    panel_real_incsno[col] = panel_real_incsno.groupby('PRD_CD')[col].transform("first")

In [13]:
# 잘 됐는지 확인
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post
0,2022-05-30,110030095.0,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1.0,0.0
1,2022-05-31,110030095.0,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1.0,0.0
2,2022-06-01,110030095.0,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1.0,0.0
3,2022-06-02,110030095.0,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1.0,0.0
4,2022-06-03,110030095.0,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1.0,0.0
...,...,...,...,...,...,...,...,...,...
14426,2022-07-17,111650952.0,818516f18c087d49ad80e3e41ef7efc9ad6cf10d023a92...,3564232.0,4608100.0,2022-06-08,2023-06-07,1.0,0.0
14427,2022-07-18,111650952.0,fea53ee95d922fdf475d2866c92fe495dc8e1bd4822a00...,697914.0,548100.0,2022-06-08,2023-06-07,1.0,0.0
14428,2022-07-19,111650952.0,3ece2e9d63f3e7206eca0cea205fbb6672f5a2c0176809...,182700.0,203000.0,2022-06-08,2023-06-07,1.0,0.0
14429,2022-07-20,111650952.0,NaN,132545.0,203000.0,2022-06-08,2023-06-07,1.0,0.0
14430,2022-07-21,111650952.0,976755ad6828687a10f18a01e11fc9caff83fafe9a8518...,82390.0,203000.0,2022-06-08,2023-06-07,1.0,0.0

In [14]:
# 선형보간법으로 채운 갯수

2. shock_distance 추가

In [15]:
# Convert the columns to datetime
panel_real_incsno['STND_YMD'] = pd.to_datetime(panel_real_incsno['STND_YMD'])
panel_real_incsno['vgn_bgn_dttm'] = pd.to_datetime(panel_real_incsno['vgn_bgn_dttm'])

# Calculate the shock_distance
panel_real_incsno['shock_distance'] = (panel_real_incsno['STND_YMD'] - panel_real_incsno['vgn_bgn_dttm']).dt.days

# Display the updated dataframe
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance
0,2022-05-30,110030095.0,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1.0,0.0,-25
1,2022-05-31,110030095.0,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1.0,0.0,-24
2,2022-06-01,110030095.0,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1.0,0.0,-23
3,2022-06-02,110030095.0,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1.0,0.0,-22
4,2022-06-03,110030095.0,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1.0,0.0,-21
...,...,...,...,...,...,...,...,...,...,...
14426,2022-07-17,111650952.0,818516f18c087d49ad80e3e41ef7efc9ad6cf10d023a92...,3564232.0,4608100.0,2022-06-08,2023-06-07,1.0,0.0,39
14427,2022-07-18,111650952.0,fea53ee95d922fdf475d2866c92fe495dc8e1bd4822a00...,697914.0,548100.0,2022-06-08,2023-06-07,1.0,0.0,40
14428,2022-07-19,111650952.0,3ece2e9d63f3e7206eca0cea205fbb6672f5a2c0176809...,182700.0,203000.0,2022-06-08,2023-06-07,1.0,0.0,41
14429,2022-07-20,111650952.0,NaN,132545.0,203000.0,2022-06-08,2023-06-07,1.0,0.0,42
14430,2022-07-21,111650952.0,976755ad6828687a10f18a01e11fc9caff83fafe9a8518...,82390.0,203000.0,2022-06-08,2023-06-07,1.0,0.0,43

In [16]:
panel_real_incsno['STND_YMD']

0       2022-05-30
1       2022-05-31
2       2022-06-01
3       2022-06-02
4       2022-06-03
           ...
14426   2022-07-17
14427   2022-07-18
14428   2022-07-19
14429   2022-07-20
14430   2022-07-21
Name: STND_YMD, Length: 14431, dtype: datetime64[ns]

In [17]:
panel_real_incsno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14431 entries, 0 to 14430
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STND_YMD         14431 non-null  datetime64[ns]
 1   PRD_CD           14431 non-null  float64
 2   INCS_NO          8258 non-null   object
 3   NET_PRD_SAL_AMT  14431 non-null  float64
 4   SAL_UTPR         14431 non-null  float64
 5   vgn_bgn_dttm     14431 non-null  datetime64[ns]
 6   vgn_end_dttm     14431 non-null  object
 7   group            14431 non-null  float64
 8   post             14431 non-null  float64
 9   shock_distance   14431 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(1), object(2)
memory usage: 1.1+ MB

데이터 타입 바꾸기

In [18]:
panel_real_incsno['PRD_CD'] = panel_real_incsno['PRD_CD'].astype(int)

In [19]:
panel_real_incsno['group'] = panel_real_incsno['group'].astype(int)

In [20]:
panel_real_incsno['post'] = panel_real_incsno['post'].astype(int)

# txp FE 넣기

0. 테이블 보기

In [21]:
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance
0,2022-05-30,110030095,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1,0,-25
1,2022-05-31,110030095,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1,0,-24
2,2022-06-01,110030095,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1,0,-23
3,2022-06-02,110030095,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1,0,-22
4,2022-06-03,110030095,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1,0,-21
...,...,...,...,...,...,...,...,...,...,...
14426,2022-07-17,111650952,818516f18c087d49ad80e3e41ef7efc9ad6cf10d023a92...,3564232.0,4608100.0,2022-06-08,2023-06-07,1,0,39
14427,2022-07-18,111650952,fea53ee95d922fdf475d2866c92fe495dc8e1bd4822a00...,697914.0,548100.0,2022-06-08,2023-06-07,1,0,40
14428,2022-07-19,111650952,3ece2e9d63f3e7206eca0cea205fbb6672f5a2c0176809...,182700.0,203000.0,2022-06-08,2023-06-07,1,0,41
14429,2022-07-20,111650952,NaN,132545.0,203000.0,2022-06-08,2023-06-07,1,0,42
14430,2022-07-21,111650952,976755ad6828687a10f18a01e11fc9caff83fafe9a8518...,82390.0,203000.0,2022-06-08,2023-06-07,1,0,43

panel_real_incsno 테이블이 있다. 새롭게 time_demend1, time_demend2 칼럼을 추가해야한다.
STND_YMD 컬럼은 날짜이다. NET_PRD_SAL_AMT 칼럼은 할인된 가격이고, SAL_UTPR칼럼은 실제가격을 의미한다.

time_demend1 칼럼은 다음과 같다.
먼저, 같은 날짜(STND_YMD)를 기준으로, NET_PRD_SAL_AMT의 평균을 내라. 그리고 NET_PRD_SAL_AMT-평균을 해라.

time_demend2 칼럼은 다음과 같다.
먼저, 같은 날짜를 기준(STND_YMD)으로, SAL_UTPR의 평균을 내라. 그리고 AL_UTPR-평균을 해라.

1. time_demend 추가

- 같은 날짜 (1/1) 에 해당하는 구매액 평균내기
- 자기 금액에서 - 평균한 금액이 time_demend (1/2)이다.

- 날짜: STND_YMD | 할인 금액: NET_PRD_SAL_AMT | 원래 금액: SAL_UTPR

In [22]:
# 원본 ver

# STND_YMD 별로 NET_PRD_SAL_AMT와 SAL_UTPR의 평균을 계산하여 새로운 칼럼 추가
#panel_real_incsno['avg_net_prd_sal_amt'] = panel_real_incsno.groupby('STND_YMD')['NET_PRD_SAL_AMT'].transform('mean')
#panel_real_incsno['avg_sal_utpr'] = panel_real_incsno.groupby('STND_YMD')['SAL_UTPR'].transform('mean')

# time_demend1 및 time_demend2 칼럼 계산
#panel_real_incsno['time_demend1'] = panel_real_incsno['NET_PRD_SAL_AMT'] - panel_real_incsno['avg_net_prd_sal_amt']
#panel_real_incsno['time_demend2'] = panel_real_incsno['SAL_UTPR'] - panel_real_incsno['avg_sal_utpr']

# 불필요한 중간 칼럼 제거 (선택 사항)
#panel_real_incsno.drop(columns=['avg_net_prd_sal_amt', 'avg_sal_utpr'], inplace=True)

In [23]:
# 결과 확인
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance
0,2022-05-30,110030095,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1,0,-25
1,2022-05-31,110030095,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1,0,-24
2,2022-06-01,110030095,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1,0,-23
3,2022-06-02,110030095,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1,0,-22
4,2022-06-03,110030095,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1,0,-21
...,...,...,...,...,...,...,...,...,...,...
14426,2022-07-17,111650952,818516f18c087d49ad80e3e41ef7efc9ad6cf10d023a92...,3564232.0,4608100.0,2022-06-08,2023-06-07,1,0,39
14427,2022-07-18,111650952,fea53ee95d922fdf475d2866c92fe495dc8e1bd4822a00...,697914.0,548100.0,2022-06-08,2023-06-07,1,0,40
14428,2022-07-19,111650952,3ece2e9d63f3e7206eca0cea205fbb6672f5a2c0176809...,182700.0,203000.0,2022-06-08,2023-06-07,1,0,41
14429,2022-07-20,111650952,NaN,132545.0,203000.0,2022-06-08,2023-06-07,1,0,42
14430,2022-07-21,111650952,976755ad6828687a10f18a01e11fc9caff83fafe9a8518...,82390.0,203000.0,2022-06-08,2023-06-07,1,0,43

In [24]:
# 소수점 첫째자리 반올림 ver

# STND_YMD 별로 NET_PRD_SAL_AMT와 SAL_UTPR의 평균을 계산하여 새로운 칼럼 추가
panel_real_incsno['avg_net_prd_sal_amt'] = panel_real_incsno.groupby('STND_YMD')['NET_PRD_SAL_AMT'].transform('mean')
panel_real_incsno['avg_sal_utpr'] = panel_real_incsno.groupby('STND_YMD')['SAL_UTPR'].transform('mean')

# time_demend1 및 time_demend2 칼럼 계산
panel_real_incsno['time_demend1'] = panel_real_incsno['NET_PRD_SAL_AMT'] - panel_real_incsno['avg_net_prd_sal_amt']
panel_real_incsno['time_demend2'] = panel_real_incsno['SAL_UTPR'] - panel_real_incsno['avg_sal_utpr']

# 소수점 첫째자리에서 반올림
panel_real_incsno['time_demend1'] = panel_real_incsno['time_demend1'].round(5)
panel_real_incsno['time_demend2'] = panel_real_incsno['time_demend2'].round(5)

# 불필요한 중간 칼럼 제거 (선택 사항)
panel_real_incsno.drop(columns=['avg_net_prd_sal_amt', 'avg_sal_utpr'], inplace=True)

In [25]:
# 결과 확인
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance,time_demend1,time_demend2
0,2022-05-30,110030095,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1,0,-25,-5.130659e+05,-6.529462e+05
1,2022-05-31,110030095,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1,0,-24,-6.350643e+05,-7.504502e+05
2,2022-06-01,110030095,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1,0,-23,-4.315652e+05,-4.634555e+05
3,2022-06-02,110030095,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1,0,-22,-6.235933e+05,-7.389849e+05
4,2022-06-03,110030095,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1,0,-21,-6.810433e+05,-8.129539e+05
...,...,...,...,...,...,...,...,...,...,...,...,...
14426,2022-07-17,111650952,818516f18c087d49ad80e3e41ef7efc9ad6cf10d023a92...,3564232.0,4608100.0,2022-06-08,2023-06-07,1,0,39,3.069737e+06,3.993908e+06
14427,2022-07-18,111650952,fea53ee95d922fdf475d2866c92fe495dc8e1bd4822a00...,697914.0,548100.0,2022-06-08,2023-06-07,1,0,40,3.947783e+05,1.886364e+05
14428,2022-07-19,111650952,3ece2e9d63f3e7206eca0cea205fbb6672f5a2c0176809...,182700.0,203000.0,2022-06-08,2023-06-07,1,0,41,2.964367e+04,3.572222e+03
14429,2022-07-20,111650952,NaN,132545.0,203000.0,2022-06-08,2023-06-07,1,0,42,-5.355262e+04,-1.794583e+04
14430,2022-07-21,111650952,976755ad6828687a10f18a01e11fc9caff83fafe9a8518...,82390.0,203000.0,2022-06-08,2023-06-07,1,0,43,-1.364682e+05,-1.006104e+05

2. txp FE 넣기

In [ ]:
# panel_real_incsno 테이블이 있다. 새로운 칼럼인 FE1, FE2를 만들것이다.
# FE1의 식은 다음과 같다. (time_demend1 컬럼) - 해당 제품의 NET_PRD_SAL_AMT 평균
# FE2의 식은 다음과 같다. (time_demend2 컬럼) - 해당 제품의 SAL_UTPR 평균
# 해당 제품의 평균은 PRD_CD에서 같은 제품의 평균을 구하면 된다.
# PRD_CD은 110030095 이런식으로 구성이 되어져있다. 같은 제품 별로 묶어서 NET_PRD_SAL_AMT를 내라는 소리이다.

In [26]:
# PRD_CD 별로 time_demend1과 time_demend2의 평균값을 계산하여 새로운 칼럼 추가
panel_real_incsno['avg_time_demend1_by_prd'] = panel_real_incsno.groupby('PRD_CD')['time_demend1'].transform('mean')
panel_real_incsno['avg_time_demend2_by_prd'] = panel_real_incsno.groupby('PRD_CD')['time_demend2'].transform('mean')

# FE 칼럼 계산
panel_real_incsno['FE1'] = panel_real_incsno['time_demend1'] - panel_real_incsno['avg_time_demend1_by_prd'].round(5)
panel_real_incsno['FE2'] = panel_real_incsno['time_demend2'] - panel_real_incsno['avg_time_demend2_by_prd'].round(5)

# 불필요한 중간 칼럼 제거 (선택 사항)
panel_real_incsno.drop(columns=['avg_time_demend1_by_prd', 'avg_time_demend2_by_prd'], inplace=True)

In [27]:
# 결과 확인
panel_real_incsno.head(15)

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance,time_demend1,time_demend2,FE1,FE2
0,2022-05-30,110030095,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1,0,-25,-513065.85695,-6.529462e+05,3058.74820,-18553.16597
1,2022-05-31,110030095,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1,0,-24,-635064.31293,-7.504502e+05,-118939.70778,-116057.25054
2,2022-06-01,110030095,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1,0,-23,-431565.23443,-4.634555e+05,84559.37072,170937.51547
3,2022-06-02,110030095,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1,0,-22,-623593.32835,-7.389849e+05,-107468.72320,-104591.85645
4,2022-06-03,110030095,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1,0,-21,-681043.29008,-8.129539e+05,-164918.68493,-178560.88354
5,2022-06-04,110030095,e7253df0b8de0e4b2fecdcb71d3e935a08fd6e7d7bfb1f...,130964.0,192000.0,2022-06-24,2023-06-23,1,0,-20,-576498.25181,-6.719436e+05,-60373.64666,-37550.60029
6,2022-06-05,110030095,b397dd27e36e3da464df0788a6598f927bad1d49b78f33...,53640.0,96000.0,2022-06-24,2023-06-23,1,0,-19,-645661.45492,-7.852506e+05,-129536.84977,-150857.55842
7,2022-06-06,110030095,6f3f89af87c5d1a10a4e60d50d077e85deb06cb05ec8d3...,43390.0,96000.0,2022-06-24,2023-06-23,1,0,-18,-711324.26148,-9.013506e+05,-195199.65633,-266957.61999
8,2022-06-07,110030095,3c9d950f4866c50c323216ca2b5395086023e0c27ca92c...,118884.0,192000.0,2022-06-24,2023-06-23,1,0,-17,-660826.38183,-8.245938e+05,-144701.77668,-190200.78502
9,2022-06-08,110030095,f85eb604ac7748548a3b1fb65b103ba6c36945694fa230...,90826.0,144000.0,2022-06-24,2023-06-23,1,0,-16,-848289.34701,-1.096913e+06,-332164.74186,-462519.81211
10,2022-06-09,110030095,f6f1363c2240ffbad5bbd5b181cb7bd283dd4e1bb3e729...,88838.0,144000.0,2022-06-24,2023-06-23,1,0,-15,-633067.81219,-7.943198e+05,-116943.20704,-159926.77024
11,2022-06-10,110030095,e67f7dda24b0805d795e132c4627bcd92f5125b5049871...,28800.0,48000.0,2022-06-24,2023-06-23,1,0,-14,-752161.39231,-9.825819e+05,-236036.78716,-348188.90078
12,2022-06-11,110030095,NaN,43278.0,72000.0,2022-06-24,2023-06-23,1,0,-13,-745761.17933,-9.010440e+05,-229636.57418,-266651.03132
13,2022-06-12,110030095,a73a1197c7af04f838bba6585d6ef262a9d92f80b805dd...,57756.0,96000.0,2022-06-24,2023-06-23,1,0,-12,-724208.77324,-9.388613e+05,-208084.16809,-304468.33428
14,2022-06-13,110030095,c061522edee03ee602f44846c34265d995c34120564618...,24284.0,48000.0,2022-06-24,2023-06-23,1,0,-11,-801130.90739,-9.769700e+05,-285006.30224,-342577.01655

# 기간 정하고, 로그 전후 솎아내기

shock 전(0), 후(1) 둘 다 있는 데이터만 솎아내기

In [39]:
import seaborn as sns

panel_real_incsno = panel_real_incsno.dropna().reset_index(drop = True)
panel_real_incsno = panel_real_incsno[(panel_real_incsno["shock_distance"] < 31) & (panel_real_incsno["shock_distance"] > -31)].reset_index(drop = True)
panel_real_incsno

,STND_YMD,PRD_CD,INCS_NO,NET_PRD_SAL_AMT,SAL_UTPR,vgn_bgn_dttm,vgn_end_dttm,group,post,shock_distance,time_demend1,time_demend2,FE1,FE2
0,2022-05-30,110030095,bb26f910ef72187eeb6e6757f3340fb6cb7e53c5d21e23...,165680.0,192000.0,2022-06-24,2023-06-23,1,0,-25,-5.130659e+05,-6.529462e+05,3.058748e+03,-1.855317e+04
1,2022-05-31,110030095,782448132b8890146e7c484840513d04ba22266db3a18e...,220932.0,336000.0,2022-06-24,2023-06-23,1,0,-24,-6.350643e+05,-7.504502e+05,-1.189397e+05,-1.160573e+05
2,2022-06-01,110030095,1ec05abb12c2cc66735b6cb3624665468ba98aaffa2fb2...,252242.0,384000.0,2022-06-24,2023-06-23,1,0,-23,-4.315652e+05,-4.634555e+05,8.455937e+04,1.709375e+05
3,2022-06-02,110030095,673bc7e0558eba8e80d5f95c9ffb6a51af4e3f78d11ed6...,55480.0,96000.0,2022-06-24,2023-06-23,1,0,-22,-6.235933e+05,-7.389849e+05,-1.074687e+05,-1.045919e+05
4,2022-06-03,110030095,ab12c53b2fe09090c0e854a026affaa8ce9d5776f7b2f8...,28244.0,48000.0,2022-06-24,2023-06-23,1,0,-21,-6.810433e+05,-8.129539e+05,-1.649187e+05,-1.785609e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,2022-07-04,111650952,5acb64d7a2fae792321657ec15dc7cb4b09c0ce9e532f8...,307440.0,609000.0,2022-06-08,2023-06-07,1,0,26,-1.974479e+04,1.936538e+05,-1.291056e+06,-1.631815e+06
1173,2022-07-05,111650952,c8260e4740e9a0963ac3f21927e5761aad1c8803ab3e22...,662900.0,1218000.0,2022-06-08,2023-06-07,1,0,27,4.178227e+05,8.897346e+05,-8.534881e+05,-9.357342e+05
1174,2022-07-06,111650952,33c073145f9e57fdab5b288c1557f0c716630e594728ee...,328272.0,609000.0,2022-06-08,2023-06-07,1,0,28,1.273407e+05,3.334397e+05,-1.143970e+06,-1.492029e+06
1175,2022-07-07,111650952,a947d7a29871054d828b72660fef4afef7fd95a7a34265...,142100.0,142100.0,2022-06-08,2023-06-07,1,0,29,-5.019519e+04,-1.050282e+05,-1.321506e+06,-1.930497e+06
1176,2022-07-08,111650952,e86f8b65266c1ddcd939b94f94b76a8485a4f9f807174e...,3505691.0,3451000.0,2022-06-08,2023-06-07,1,0,30,3.209200e+06,3.104796e+06,1.937890e+06,1.279327e+06

In [42]:
# 임시
import statsmodels.api as sm

panel_real_incsno["post"] = [1 if i >= 0 else 0 for i in panel_real_incsno["shock_distance"]]

x = panel_real_incsno["post"]
y = panel_real_incsno["FE1"]
x = sm.add_constant(x)

model = sm.OLS(y, x)
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    FE1   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     7.558
Date:                Mon, 09 Dec 2024   Prob (F-statistic):            0.00607
Time:                        21:06:51   Log-Likelihood:                -17862.
No. Observations:                1177   AIC:                         3.573e+04
Df Residuals:                    1175   BIC:                         3.574e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.186e+05   3.86e+04     -8.261      0.000   -3.94e+05   -2.43e+05
post        1.513e+05    5.5e+04      2.749      0.006    4.33e+04    2.59e+05
==============================================================================
Omnibus:                      726.501   Durbin-Watson:                   0.312
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9050.043
Skew:                          -2.665   Prob(JB):                         0.00
Kurtosis:                      15.496   Cond. No.                         2.60
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# 체크해봐야할 사항

1. 선형보간법 잘됐는지
2. 반올림 어디서 해야하는지
3. 1,2 중에 뭐 쓸지 정하기

# 질문

1. square 에서 통계본거 해석
2. 고객 nan값이 있음

# 추후 진행사항

- 컨트롤 변수

In [87]:
# 각 거래에 참여한 고객에 대한 정보가 컨트롤 변수로 들어가면 좋을듯
# 고객의 등급이나 성별, 나이 등